[build]
  publish = "."

[[headers]]
  for = "/videos/*"
  [headers.values]
    Content-Type = "video/mp4"
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.mov"
  [headers.values]
    Content-Type = "video/quicktime"
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.mp4"
  [headers.values]
    Content-Type = "video/mp4"
    Cache-Control = "public, max-age=31536000, immutable"

